@charset "utf-8";

body {
    background: gray;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav ul li {
    width: 105px;
    color: white;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

main {
    background: #e8d9bf;
}

.intro {
    max-width: 1000px;
    margin: 0 auto;
}

.catch {
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.1em;
}

.en {
    font-size: 30px;
    line-height: 117px;
    text-align: center;
}

.ja {
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 20px;
}

#ABOUT_US {
    max-width: 1000px;
    margin: 0 auto;
    padding: 94px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ABOUT_US_box {
    width: 50%;
}

.ABOUT_US_box img {
    border-bottom-right-radius: 82px;
}

.text {
    width: 42%;
}

.text h2 {
    width: 272px;
}

.text>p {
    font-size: 44px;
    line-height: 61px;
    padding: 48px 0 36px 0;
}

.ABOUT_US_summary p {
    font-size: 16px;
    line-height: 26px;
}

#MENU {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 94px 10px;
}

#MENU h2 {
    text-align: center;
    padding-bottom: 39px;
}

#MENU h2 img {
    width: 151px;
}

.category {
    display: flex;
    justify-content: space-between;
}

.MENU_box {
    width: 30%;

}

.MENU_box img {
    border-top-right-radius: 42px;
}

.MENU_box>p {
    font-size: 38px;
    line-height: 15px;
    color: #d30202;
    padding-bottom: 19px;
}

.MENU_summary p {
    font-size: 17px;
    line-height: 25px;
}

#GALLERY {
    max-width: 1940px;
    padding-bottom: 59px;
}

#GALLERY h2 {
    text-align: center;
    padding-bottom: 16px;
}

#GALLERY h2 img {
    width: 248px;
}

.GALLERY_slider {
    display: flex;
}

.GALLERY_slider img {
    width: 20%;
}

#EVENT {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 59px 10px;
}

#EVENT h2 {
    text-align: center;
    padding-bottom: 30px;
}

#EVENT h2 img {
    width: 174px;
}

.EVENT_box {
    background-color: white;
    border: 3px solid #4f260b;
    padding: 37px 0;
}

.EVENT_container {
    margin: 0 auto;
    max-width: 665px;
}

.EVENT_list {
    display: flex;
    justify-content: flex-start;
}

.EVENT_list time {
    font-size: 23px;
    line-height: 45px;
    padding-right: 5.6%;
}

.EVENT_list p {
    font-size: 23px;
    line-height: 45px;
    text-decoration: underline;
}

#ACCESS {
    max-width: 1940px;
    margin: 0 auto;
}

#ACCESS h2 {
    text-align: center;
}

#ACCESS h2 img {
    width: 214px;
    padding-bottom: 30px;
}



iframe {
    width: 100%;
    height: 471px;
    display: block;
}

footer {
    background: white;
}

.footer_wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 75px 10px;
}

.footer_logo {
    text-align: center;
    width: 227px;
    padding-right: 6.5%;
}

.footer_info p {
    font-size: 20px;
    line-height: 39px;
}

.footer_end p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 75px;
}

.page_top {
    position: fixed;
    right: 75px;
    bottom: 75px;
}

.page_top img {
    width: 125px;
}